%p.lead.book-description
  - if description.length > max_length
    = truncate description, length: max_length
    = link_to 'read more', 'javascript:void(0);', id: "read-more"
    :javascript
      $("#read-more").on('click', function(e) {
        e.preventDefault()
        $(this).parent().html('#{description}')
      })
  - else
    = description