- max_description_length = 2100
%p.lead.book-full-description
  - if book.full_description.length > max_description_length
    = truncate book.full_description, length: max_description_length
    = link_to 'read more', 'javascript:void(0);', id: "read-more"
    :javascript
      $("#read-more").on('click', function(e) {
        e.preventDefault()
        $(this).parent().html(`#{book.full_description}`)
      })
  - else
    = book.full_description